<script type="text/template" id="GameBoardTemplate">
  <div class="board_container">
    <table id="GameBoard">
      <% _.each(_.range(rows), function(row) { %>
        <tr>
          <% _.each(_.range(cols), function(col) { %>
            <td class="board_cell <%= col > cols/2 ? 'player' : col === ~~(cols/2) ? 'neutral' : 'enemy' %> <%= (col+row)%2 ? 'darker' : '' %>" data-cell="<%= col + '-' + row %>">
            </td>
          <% }) %>
        </tr>
      <% }) %>
    </table>
  </div>
</script>
