.hero,
.projectile {
  position: absolute;
  background-size: cover;
}

.hero.flipped {
  transform: scale(-1, 1);
}

@keyframes wound {
  0% { opacity: 0.5; }
  10% { opacity: 0.8; }
  20% { opacity: 0.4; }
  30% { opacity: 0.7; }
  50% { opacity: 0.5; }
  60% { opacity: 0.9; }
  70% { opacity: 0.6; }
  80% { opacity: 0.9; }
  90% { opacity: 0.5; }
  100% { opacity: 0.8; }
}

.hero.wounded {
	animation-name: wound;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

@keyframes recharging {
  0% { opacity: 0.8; }
  50% { opacity: 0.5; }
  100% { opacity: 0.8; }
}

.hero.recharge {
	animation-name: recharging;
	animation-duration: 1s;
  animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
}

.hero.flipped div.hp {
  float: right;
}

.hero div.hp {
  width: 100%;
  height: 3px;
  background-color: yellow;
  transition: width 0.2s;
  transform: translateY(-5px);
}

.hero.flipped div.token {
  transform: scaleX(-1);
}

.hero div.token {
  position: relative;
  background-color: #28a828;
  width: 30px;
  height: 13px;
  text-align: center;
  border: 2px solid #188918;
  border-radius: 10px;
  color: white;
  display: none;
  pointer-events: none;
  font-size: 10px;
}

.hero div.token.show {
  animation-name: show-token;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
  display: block;
}

@keyframes show-token {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -20px;
    opacity: 0;
  }
}
