
body {
  padding: 0;
  margin: 0;
}

.button {
  width: 50px;
  height: 20px;
  border: 1px solid #ccc;
  color: #ccc;
  position: absolute;
  text-align: center;
  cursor: pointer;
  background: white;
  transition: background 0.2s, color 0.2s, border 0.2s;
}

.button:hover {
  background: #ccc;
  color: white;
  border: 1px solid white;
}

div.log {
  width: 500px;
  height: 250px;
  position: absolute;
  top: 0;
  right: 100px;
  border: 1px solid #000;
  overflow: scroll;
  font-family: monospace;
  padding: 5px;
}

button.button {
  margin-top: 60px;
}

.buy_screen {
  width: 100%;
  min-height: 100%;
  background: rgba(0,0,0,0.6);
  position: absolute;
  z-index: 999;
  transition: top 0.3s;
  top: 0;
  text-align: center;
}

.buy_screen.hidden {
  top: -300%;
}

.buy_screen .content {
  width: 500px;
  height: 300px;
  background-color: white;
  margin: auto;
  position: relative;
  transform: translateY(-150px);
  top: 300px;
}

.buy_screen .hero_card {
  display: inline-block;
  margin: 15px;
  font-family: monospace;
  font-size: 10px;
  transition: background-color 0.2s;
  cursor: pointer;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

.buy_screen .hero_card:hover {
  background-color: #CCC;
}
